<h4>Comment:</h4>

<p><%= comment.body %></p>
<h4>Rating:</h4>
<%= comment.rating %>

<br>
  <strong>Date:
  </strong><%= comment.created_at.strftime("%m/%d/%Y") %>
</br>By:
<%=comment.user.email%></p>
<p><%= link_to 'Delete', [@recipe, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>
