<div class="comment" id="comment-<%= comment.id %>"></div>
<hr/>

<h4>Comment:</h4>

<%= comment.body %>
<h4>Rating:</h4>
<%= comment.rating %>

<br>
  <strong>Date:
  </strong><%= comment.created_at.strftime("%m/%d/%Y") %>
</br>By:
<%=comment.user.email%></p>
<p><%= link_to 'Delete', [@recipe, comment], method: :delete, data: { confirm: 'Are you sure?' } %></p>

</div>
