<div id="comment_<%= comment.id %>">
  <strong><%= comment.created_at.strftime("%m/%d/%Y") %></strong>
  <%=comment.user.email%>:</p>
  <%= comment.body %> </br>
  <strong> Rating: </strong><%= comment.rating %>

<%= button_to(recipe_comment_path(@recipe.id,comment.id), {method: :delete, remote: true, class:"btn btn-danger delete-comment-button pull-right", params:{id: comment.id, recipe: @recipe.id}} ) do%>
<i class="glyphicon glyphicon-trash"></i>
<% end %>
</div>
</br>
<hr/>
