<section id="comments-section">

  <%= simple_form_for([@recipe, @recipe.comments.build], :remote => true) do |f| %>
  <h4><%= f.label :rating %></h4>
  <p>
    <%= f.number_field :rating %>
  </p>

  <h4><%= f.label :comment %></h4>
  <p>
    <%= f.text_area :body %>
  </p><br>
  <p><%= f.submit %></p>
  <% end %>

</section>
