<%= simple_form_for @recipe do |f| %>

<h4>Recipe Name:</h4>
<div><%= f.text_field :name %></div>
<div><%= f.input :description, input_html: { class: 'form-control'} %></div>
<div><%= f.input :image, input_html: { class: 'form-control' } %></div>
<div><%= f.input :directions, input_html: { class: 'form-control' }%></br>
</div>

<h3>
Add Ingredients:
</h3>

<h4>New Ingredient:
</h4>

<div>
<%= f.simple_fields_for :ingredients do |recipe_ingredient| %>
</br>

<div>
<%= recipe_ingredient.input :name, input_html: { class: 'form-control'} %>
<% end %>
</div>
<h4>Select Existing Ingredient:
</h4>
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

<input type="button" class="check" value="uncheck all"/>
<script type="text/javascript">

$(document).ready(function () {
  $('.check:button').toggle(function () {
    $('input:checkbox').attr('checked', 'checked');
    $(this).val('uncheck all')
  }, function () {
    $('input:checkbox').removeAttr('checked');
    $(this).val('check all');
  })
})
</script>

</div>

<div>

<% if params[:action] == "edit" %>
<%= f.submit " Edit Recipe", id:"submitButton"  %>
<% else %>
<%= f.submit "Submit" %></br>

<% end %>

<% end %>
