<%= simple_form_for recipe do |f| %>

<div>Recipe Name:</div>
<div><%= f.text_field :name %></div>
<div>Recipe Description:</div>
<div><%= f.text_field :description %></div>
<div>Recipe Image:</div>
<div><%= f.input :image, input_html: { class: 'form-control' } %></div>

Add Ingredients:

<div>
  <%= f.fields_for :recipe_ingredients, @ingredients do |recipe_ingredient| %>
  <div>
    Select Ingredient:
    <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :name %>
    <%= recipe_ingredient.fields_for :ingredient, recipe.ingredients.build do |ingredient| %>
    Or Create New Ingredient:
    <%= ingredient.text_field :name %>
    <% end %>
  </div>
  <% end %>
</div>

<%= f.submit "Submit" %>

<% end %>
