<%= simple_form_for recipe do |f| %>

<h4>Recipe Name:</h4>
<div><%= f.text_field :name %></div>
<div><%= f.input :description, input_html: { class: 'form-control'} %></div>
<div><%= f.input :image, input_html: { class: 'form-control' } %></div>
<div><%= f.input :directions, input_html: { class: 'form-control' }%></br>
</div>

<h4>
Add Ingredients:
</h4>

<div>
<%= f.simple_fields_for :recipe_ingredients do |recipe_ingredient| %>
<div>
  Select Ingredient:
  <%= recipe_ingredient.collection_select :ingredient_id, Ingredient.all, :id, :name, {multiple: true} %>
  <%= recipe_ingredient.fields_for :ingredients, recipe.ingredients.build do |ingredient| %>
  Or Create New Ingredient:
  <%= ingredient.text_field :name %>
  <%= ingredient.label :_destroy, 'Remove' %>
  <% end %>
</div>
<% end %>
</div>

<%= f.submit "Submit" %></br>

<% end %>
