<%= link_to("Next Recipe", @recipe.next) if @recipe.next %>
<div class="row" id="recipe_show">
  <div class="col-md-8 col-md-offset-2">
    <div class='panel panel-default'>
      <div class='panel-heading text'>
        <p class="recipeImage"><%= image_tag @recipe.image.url(:medium) %></p>
      </div>
      <div class="panel-body">
        <h1>
          <p><%= @recipe.name %></p>
        </h1>
        <p><%= @recipe.description %></p>
        <p class="recipeIngredients">
          <ol>
            <% @recipe.ingredients.each do |recipe_ingredient| %>
            <%= recipe_ingredient.name %><br>
            <% end %>
          </ol>
        </p>
        <h3>Directions:</h3>
        <ul>
          <li><%= @recipe.directions %></li>
        </ul>
      </div>
      <div class="panel-footer" id="recipe-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user"></p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to "Back", root_path, class: "btn btn-default" %>
              <%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
              <%= link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class= "comments-body">
    <ol><%= render @recipe.comments %></ol></br>
  </div>
  <div class='panel panel-default text-left'>
    <div class='col-sm-2 col-md-offset-2'>
      <%= render partial: 'comments/form', locals: { comment: @comment }%>
    </div>
  </div>
</div>
