<%= image_tag @recipe.image.url(:medium) %>
<p><%= @recipe.name %></p>
<ul>
  <li>
    <%= @recipe.ingredients.name %>
  </li>
</ul>

<p><%= @recipe.description %></p>
</br>

<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"%>
