<a href="#" class="js-next" data-id="<%=@recipe.id%>">Next Recipe</a>
<div class="row" id="recipe_show">
  <div class="col-md-8 col-md-offset-2">
    <div class='panel panel-default'>
      <div class='panel-heading text'>
        <p class="recipeImage"><%= image_tag @recipe.image.url(:medium) %></p>
      </div>
      <div class="panel-body">
        <h1>
          <p class="recipeName"><%= @recipe.name %></p>
        </h1>
        <p class="recipeDescription"><%= @recipe.description %></p>
        <p class="recipeIngredients">
          <ol>
            <% @recipe.ingredients.each do |recipe_ingredient| %>
            <li><%= recipe_ingredient.name %></li>
            <% end %>
          </ol>
        </p>
        <h3>Directions:</h3>
        <ul>
          <li class="recipeDirections"><%= @recipe.directions %></li>
        </ul>
      </div>
      <div class="panel-footer" id="recipe-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user"></p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to "Back", root_path, class: "btn btn-default" %>
              <%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
              <%= link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="panel-body" id="comments-body">
    <ol><%= render @recipe.comments %></ol></br>
  </div>
  <div class='panel panel-default text-left' >
    <div class='col-sm-2 col-md-offset-2'>
      <%= render partial: 'comments/form', locals: { comment: @comment } %>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/recipes/" + nextId + ".json", function(data) {
      var recipe = data;
      $(".recipeName").text(recipe["name"]);
      $(".recipeDescription").text(recipe["description"]);
      $(".recipeIngredients").text(recipe["ingredients"]);
      $(".recipeDirections").text(recipe["directions"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", recipe["id"]);
    });
  });
});
</script>
