<h1>Recipe Show Page</h1>
<p><%= @recipe.name %></p>
<ul>
  <li>
    <p><%= @recipe.ingredients.name %></p>
  </li>
</ul>

<p><%= @recipe.description %></p>
</br>

<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"%>
