<!DOCTYPE html>
<html></html>
<head>
  <title>Recipe App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Recipe Home", root_path %>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Recipes", recipes_path, class: "all_recipes" %></li>
        <li><%= link_to "New Recipe", new_recipe_path %></li>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Account</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/users/sign_up">Sign Up</a>
          <a href="/users/sign_in">Sign In</a>
          <a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
          <a href="/users/auth/github">Sign in with GitHub</a>
        </div>
      </div>
      </ul>

    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <div id="app-container"></div>
    <%= yield %>
  </div>


</body>
